{% extends "layout.html" %}

{% block title %}
    {{ page.title }}  
{% endblock %}

{% block content %}
<div class="container mt-3">
<h1 class="text-center mb-4">Agenda Telefônica!</h1>

<h2 class="mt-4">Contatos:</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Tel Residêncial</th>
                    <th>Tel Celular</th>
                    <th>Email</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for contact in page.contacts %} 
                <tr>
                    <td>{{ contact.nome }}</td>
                    <td>{{ contact.tel_residencial }}</td>
                    <td>{{ contact.tel_celular }}</td>
                    <td>{{ contact.email }}</td>
                    <td>
                        <a href="{{ url_for('edit', id=contact.id) }}" class="btn btn-warning">Editar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}